<ul>
    <%@businesses.each do |business|%>
            <li><%=link_to business.name, business_path(business), class: "text-info" %></li>
    <%end%>
</ul>

<h6>Tech Companies:</h6>
<ul>
    <%@in_tech.each do |t|%>
      <li> <%=t.name%></li>
    <%end%>
</ul>