<ul>
    <%@businesses.each do |business|%>
            <li><%=link_to business.name, business_path(business)%></li>
    <%end%>
</ul>

<h5>Tech Companies:</h5>
<ul>
    <%@in_tech.each do |t|%>
      <li> <%=t.name%></li>
    <%end%>
</ul>