<ul>
    <%@beneficiaries.each do |beneficiary|%>
    <li><%=link_to beneficiary.recipient, beneficiary_path(beneficiary), class: "text-info"  %></li>
    <%end%>
</ul>


<h6 class="mt-4">Beneficiaries in your area:</h6>
<ul>
    <%@locals.each do |l|%>
        <li><%=l.recipient%></li>
    <%end%>
</ul> 





