<section class="jumbotron text-center bg-white">
<div class="container">
      <img src="/assets/CSR-8f21c166bcff4726370e114b9e5885f567ad98831b4acb3c100032c672c5242f.jpg" class="img-fluid" alt="Corporate Social Responsibility image" style="width: 55%;">
      <h1>Welcome!</h1>
      <p class="lead text-muted">Giving Back, an App focused on Corporate Social Responsibility. For companies wishing to do good.</p>
      <%if !current_business%>
      <p>
        <a href="<%=signin_path%>" class="btn btn-secondary my-2">Log In</a>
        <a href="auth/google_oauth2" class="btn btn-secondary my-2">Log In With Google</a>
        <a href="<%=new_business_path%>" class="btn btn-secondary my-2">Sign Up</a>
      </p>
      <%end%>
</div>
  </section>
